
ESP32/\.metadata/\.log

*.log

ESP32/\.metadata

*.resources

node_modules

MongooseOS/StartModule/build/

MongooseOS/StartModuleImplementation/build/
MongooseOS/Folkracer/src/point
Simulator/parabola
